@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Allura';
    src: url('/fonts/Allura-Regular.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

body {
    @apply w-full h-full bg-gray-900 text-white;
}

.font-allura {
    font-family: Allura, cursive;
}
