@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Allura';
    src: url('/fonts/Allura-Regular.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

/* open-sans-condensed-700 - latin */
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/OpenSansCondensed-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-display: swap;
}

body {
    @apply w-full h-full bg-gray-900 text-white;
}

.font-allura {
    font-family: 'Allura', cursive;
}

.font-open-sans-cond {
    font-family: 'Open Sans Condensed', sans-serif;
}

.grayscale {
    filter: grayscale(100%);
}
